/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'DM Serif Display', serif;
font-family: 'Manrope', sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.paragraph-area {
  background-image: url("../images/back1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #f8f9fa;
  color: #333;
  border-color: #ddd;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
}

.accordion-button:hover {
  background-color: #e9ecef;
}

.accordion-button.collapsed {
  background-color: #f8f9fa;
}

.accordion-body {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
div#carouselExampleIndicators {
  max-width: 1200px;
  margin: auto;
}